<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/images/background.jpg');height: 500px">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <div class="brand text-center">
                  <h1 class="title">The <span style=" color: red">expert</span> <br> in anything was once a <br> <span style=" color: red">beginner</span> </h1>

              </div>
          </div>
      </div>
  </div>
</div>

<div class=" main-raised main">
    <div class="container">

        <div class="row" >
            <div class="col-md-12"  >
                <form class="form-inline ml-auto pad" >
                    <div class="form-group has-gray" style="margin-left: 810px">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
                        <i class="material-icons">search</i>
                    </button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-background " style="background: url(../../../assets/images/companyBusiness2.jpg); ">
                    <div class="card-body  myCardCss">
                        <h3 class="card-title"><span style="color: red">Dialog</span> <br> </h3><br>
                        <p class="card-description" style="color: white">
                            Dialog Axiata PLC and its subsidiaries (hereinafter collectively referred to as "Dialog" "us" "we" or "our"....
                        </p>
                        <img src="../../../assets/images/dialog logo.png" alt="Raised Image" class="rounded img-fluid" style="height: 50px;margin-top: 10px;margin-left: -10px">

                        <a routerLink="/company"class="btn btn-primary" target="_blank" style="background-color: orangered;margin-top: -50px; margin-left: 120px">Applys</a>
                        <!-- <button routerLink="/company"class="btn btn-primary" target="_blank" style="background-color: orangered;margin-top: -50px; margin-left: 120px">Apply</button> -->

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                    <div class="card card-background " style="background: url(../../../assets/images/companyBusiness1.jpg); ">
                        <div class="card-body  myCardCss">
                            <h3 class="card-title"><span style="color: red">Mobitel</span> <br> </h3><br>
                            <p class="card-description" style="color: white">
                                The company was founded in 1993 and is based in Colombo, Sri Lanka. Mobitel (Pvt) Ltd. operates.....
                            </p>
                            <img src="../../../assets/images/Mobitel_logo.png" alt="Raised Image" class="rounded img-fluid" style="height: 50px;margin-top: 10px;margin-left: -10px">
                            <button class="btn btn-primary" style="background-color: orangered;margin-top: -50px; margin-left: 120px">Apply</button>

                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                        <div class="card card-background " style="background: url(../../../assets/images/companyBusiness2.jpg); ">
                            <div class="card-body  myCardCss">
                                <h3 class="card-title"><span style="color: red">Wso2</span> <br> </h3><br>
                                <p class="card-description" style="color: white">
                                    WSO2 Named a Leader in The Forrester Wave™: API Management Solutions, Q4 2018 Report
                                </p>
                                <img src="../../../assets/images/Wso2Logo.png" alt="Raised Image" class="rounded img-fluid" style="height: 50px;margin-top: 10px;margin-left: -10px">
                                <button class="btn btn-primary" style="background-color: orangered;margin-top: -50px; margin-left: 120px">Apply</button>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                            <div class="card card-background " style="background: url(../../../assets/images/companyBusiness1.jpg); ">
                                <div class="card-body  myCardCss">
                                    <h3 class="card-title"><span style="color: red">Pearson</span> <br> </h3><br>
                                    <p class="card-description" style="color: white">
                                        We're the world's learning company, with expertise in educational courseware and assessment, .....
                                    </p>
                                    <img src="../../../assets/images/pearsonLogo.png" alt="Raised Image" class="rounded img-fluid" style="height: 50px;margin-top: 10px;margin-left: -10px">
                                    <button class="btn btn-primary" style="background-color: orangered;margin-top: -50px; margin-left: 120px">Apply</button>

                                </div>
                            </div>
                        </div>

        </div>
    </div>
</div>
