<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/images/background.jpg');height: 500px">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <div class="brand text-center">
                  <h1 class="title">The <span style=" color: red">expert</span> <br> in anything was once a <br> <span style=" color: red">beginner</span> </h1>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="main " id="main" style="background-color: whitesmoke">
  <div class="contact-content">
      <div class="container">
          <div class="row"  style="">
              <!--<img src="images/sliitlogo.png" style=" ">-->
              <div class="col-lg-12 col-md-12 col-sm-12 ml-auto mr-auto">
                  <form class="form" method="" action="#">
                      <div class="card card-login card-hidden">
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-2" style="padding: 0px;">
                                      <img src="../../../assets/images/dialog.jpg" alt="Raised Image" class="rounded img-fluid" style="width:180px;height: 100px; margin-top: 10px;margin-left: 30px">
                                  </div>
                                  <div class="col-md-8" style="margin-top: -20px">
                                      <h3 class="title">Internship Title</h3>
                                      <h5>Posted by Company Address</h5>
                                  </div>
                                  <div class="col-md-2" style="margin-top: -20px">
                                    <a routerLink="/studentInternshipForm" >
                                        <button class="btn btn-primary" style="background-color: orangered;margin-top: 80px; margin-left: -10px;">Apply For This Job</button>
                                    </a>
                                  
                                    </div>
                              </div>
                              <hr>
                              <h2 class="title" style="margin-left: 450px">Job Description</h2>
                              <div class="row">
                                  <div class="col-md-3">
                                      Job location
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                                  <div class="col-md-3">
                                      Salary (per month)
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-3">
                                      Total Vacancies
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                                  <div class="col-md-3">
                                      Maximum Age
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-3">
                                      Minimum Qualification
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                                  <div class="col-md-3">
                                      Gender preference
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-3">
                                      Application Deadline
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                                  <div class="col-md-3">
                                      Role
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-3">
                                     Skills
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                                  <div class="col-md-3">
                                  </div>
                              </div>
                          </div>
                          <div class="card-footer justify-content-center">
                              <!--<a href="#pablo" class="btn btn-rose btn-link btn-lg">Lets Go</a>-->
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
