<div class="container">
    <div class="row"  style="width:100%; height: 100px; margin-top: 95px ">
      <img src="assets/images/sliitlogo.png" style=" width: 300px;">
      <span style="margin-left: 380px"> <h1 class="title"><b>Student Login </b></h1> </span>
      <!--<div class="tim-typo" >-->
        <!--<h2 class="title" style="margin-left: 400px">-->
          <!--Student Login-->
        <!--</h2>-->
      <!--</div>-->
    </div>

    <div class="row" >
      <!--<img src="images/sliitlogo.png" style=" ">-->
      <div class="col-lg-5 col-md-6 col-sm-8 ml-auto mr-auto" >
        <form class="form" method="" action="#">
          <div class="card card-login card-hidden" style=" margin-left: 300px">

            <div class="card-body ">

              <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="IndexNumber...">
                  </div>
                </span>
              <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password...">
                  </div>
              </span>
              <a href="examples/login-page.html" class="btn btn-link btn-primary " target="_blank" style="margin-left: 250px">Forget Password ?</a>

            </div>
            <div class="card-footer justify-content-center">

              <!--<a href="#pablo" class="btn btn-rose btn-link btn-lg">Lets Go</a>-->
              <a href="#pablo"  ><button class="btn btn-primary btn-round" style="width: 200px; margin-top: -10px">Login</button></a>
            </div>
            <div class="tim-typo" style="margin-left: 40px; margin-top: -10px">
              <h6>
               Have not account yet?</h6>
            </div>
            <a href="examples/login-page.html" class="btn btn-link btn-primary " target="_blank" style="margin-top: -50px">SIGN UP</a>

          </div>
        </form>
      </div>
    </div>
  </div>