

<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/images/background.jpg');"></div>
<div class="main main-raised" style="margin-top:-300px">
  <div class="profile-content">
      <div class="container">
          <div class="row">
              <div class="col-md-6 ml-auto mr-auto">
                  <div class="profile">
                      <div class="avatar">
                          <img src="../../../assets/images/avatar.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                      </div>
                      <div class="name">
                          <h3 class="title" style="width:300px;margin-left:-60px">Christian Louboutin</h3>
                          <h6 class="title">Designer</h6>

                      </div>
                  </div>
              </div>
          </div>
          <div class="description text-center" style="margin-top:-170px">
              <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
          </div>
          <!-- <div class="row">
              <div class="col-md-6 ml-auto mr-auto">

              </div>
          </div> -->
          <!-- <div class="tab-content tab-space">
              <div class="tab-pane active text-center gallery" id="studio">
                  <div class="row">

                  </div>
              </div>


          </div> -->
      </div>
  </div>
</div>
