<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/images/background.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center" style="margin-left: -120px">

          <form class="form-inline ml-auto pad" style="margin-top: -170px;">
            <div class="form-group has-gray">

              <input type="text" class="form-control "  placeholder="SearchQuiz"  style="background-color: red;order-radius: 25px; border-radius: 10px;border: 2px solid red;padding: 20px;color:white;">
              <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
              <i class="material-icons">search</i>
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
    </div>
    </div>

    <div class="main main-raised" id="main" style="background-color:black;width: 1379px;margin-left: -30px;margin-top: -230px" >
      <div class="contact-content">
        <div class="container">
          <div class="row">
    
            <div class="col-lg-10 col-md-10 ml-auto mr-auto">
    
              <div class="table-responsive" >
                <table class="table" style="">
                  <thead style="border:1px solid red ">
                  <tr>
    
                    <th class="text-center" style="border:4px solid red;background-color: white; color:black ">QuizID</th>
                    <th class="text-center" style="border:4px solid red;background-color: white; color:black">CompanyName</th>
                    <th class="text-center"style="border:4px solid red ;background-color: white;color:black">Internship</th>
                    <th class="text-center" style="border:4px solid red;background-color: white;color:black ">Status</th>
    
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="text-center" style="border:4px solid red ; background-color: white; color:black">QT001</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Vertusa</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">SoftwareEnginear</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Active</td>
                    <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
                    <td ><button class="btn btn-success" style="margin-left: -60px">CreateQuiz</button></td>
    
                  </tr>

                  <tr>
                    <td class="text-center" style="border:4px solid red ; background-color: white; color:black">QT002</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">IFS</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Business Analysist</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">2013</td>
                    <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
                    <td ><button class="btn btn-success" style="margin-left: -60px">CreateQuiz</button></td>
    
                  </tr>

                  <tr>
                    <td class="text-center" style="border:4px solid red ; background-color: white; color:black">QT001</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Vertusa</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">SoftwareEnginear</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Active</td>
                    <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
                    <td ><button class="btn btn-success" style="margin-left: -60px">CreateQuiz</button></td>
    
                  </tr>

                  <tr>
                    <td class="text-center" style="border:4px solid red ; background-color: white; color:black">QT002</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">IFS</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Business Analysist</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">2013</td>
                    <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
                    <td ><button class="btn btn-success" style="margin-left: -60px">CreateQuiz</button></td>
    
                  </tr>

                  <tr>
                    <td class="text-center" style="border:4px solid red ; background-color: white; color:black">QT001</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Vertusa</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">SoftwareEnginear</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Active</td>
                    <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
                    <td ><button class="btn btn-success" style="margin-left: -60px">CreateQuiz</button></td>
    
                  </tr>

                  <tr>
                    <td class="text-center" style="border:4px solid red ; background-color: white; color:black">QT002</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">IFS</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Business Analysist</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">2013</td>
                    <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
                    <td ><button class="btn btn-success" style="margin-left: -60px">CreateQuiz</button></td>
    
                  </tr>

                  <tr>
                    <td class="text-center" style="border:4px solid red ; background-color: white; color:black">QT001</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Vertusa</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">SoftwareEnginear</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Active</td>
                    <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
                    <td ><button class="btn btn-success" style="margin-left: -60px">CreateQuiz</button></td>
    
                  </tr>

                  <tr>
                    <td class="text-center" style="border:4px solid red ; background-color: white; color:black">QT002</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">IFS</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">Business Analysist</td>
                    <td class="text-center" style="border:4px solid red ; background-color: white;color:black">2013</td>
                    <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
                    <td ><button class="btn btn-success" style="margin-left: -60px">CreateQuiz</button></td>
    
                  </tr>
    
                  </tbody>
                </table>
              </div>
    
    
            </div>
          </div>
    
        </div>
      </div>
    </div>
    

    

    


