<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/images/background.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center" style="margin-left: -120px">
          <form class="form-inline ml-auto pad" style="margin-top: -170px;">
            <div class="form-group has-gray">
              <input type="text" class="form-control "  placeholder="SearchCompany"  style="background-color: red;order-radius: 25px; border-radius: 10px;border: 2px solid red;padding: 20px;color:white;">
              <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
              <i class="material-icons">search</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="main main-raised" id="main" style="background-color:black;width: 1379px;margin-left: -30px;margin-top: -230px" >
  <div class="contact-content">
    <div class="container">
      <div class="row">

        <div class="col-lg-10 col-md-10 ml-auto mr-auto">

          <div class="table-responsive">
            <table class="table" style="">
              <thead style="border:1px solid red ">
              <tr>

                <th class="text-center" style="border:4px solid red ; background-color: white;">CompnayId</th>
                <th class="text-center" style="border:4px solid red ; background-color: white;">CompanyName</th>
                <th class="text-center" style="border:4px solid red ; background-color: white;">Internship</th>
                <th class="text-center" style="border:4px solid red ; background-color: white;">Status</th>

              </tr>
              </thead>
              <tbody>

              <tr>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IT001</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Vertusa</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Software Enginear</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Approved</td>
                <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>


              </tr>

              <tr>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IT002</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IFS</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Software Enginear</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Approved</td>
                <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>


              </tr>

              <tr>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IT001</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Vertusa</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Software Enginear</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Approved</td>
                <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>


              </tr>

              <tr>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IT002</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IFS</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Software Enginear</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Approved</td>
                <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>


              </tr>

              <tr>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IT001</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Vertusa</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Software Enginear</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Approved</td>
                <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
              </tr>

              <tr>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IT002</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">IFS</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Software Enginear</td>
                <td class="text-center" style="border:4px solid red ; background-color: white;">Approved</td>
                <td ><button class="btn btn-warning" style="margin-left:  10px;width: 120px">Edit</button></td>
              </tr>
              </tbody>
            </table>
          </div>


        </div>
        
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="card card-blog" style="margin-left: 100px">
            <div class="card-header card-login " style="background-color: white">

              <div class="row">
                <div class="col-md-2" >
                  <label class="dot"> <span style=" ">Dialog </span></label>
                </div>
                <div class="col-md-2">
                  <label class="dot"> Vertusa </label>
                </div>
                <div class="col-md-2">
                  <label class="dot" > IFS</label>
                </div>
                <div class="col-md-2">
                  <label class="dot"> MAS</label>
                </div>
                <div class="col-md-2">
                  <label class="dot"> NDB</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                  <label class="dot"> Dialog</label>
                </div>
                <div class="col-md-2">
                  <label class="dot"> Vertusa</label>
                </div>
                <div class="col-md-2">
                  <label class="dot"> IFS</label>
                </div>
                <div class="col-md-2">
                  <label class="dot"> MAS</label>
                </div>
                <div class="col-md-2">
                  <label class="dot"> NDB</label>
                </div>
              </div>
            </div>
            <div class="card-body ">

              <div class="row"  style="">
                <form>
                  <div class="row">
                    <div class="col-sm-6" style="margin-top: 10px">Rank :</div>
                    <div class="col-sm-6"><input class="form-control" type="text"></div>
                  </div>
                  <div class="row">
                  <div class="col-sm-6" style="margin-top: 10px">Company Name :</div>
                  <div class="col-sm-6"><input class="form-control" type="text"></div>
                  </div>



                  <div class="row">
                    <div class="col-sm-6" style="margin-top: 10px">Company Banner :</div>
                    <div class="col-sm-6">

                      <div class="fileinput fileinput-new text-center" data-provides="fileinput"><div>
                      <span class="btn btn-raised btn-round btn-default btn-file">

	                    <input type="file" name="..." />
                      </span>


                        </div>
                      </div>
                    </div>

                  </div>




                  <div class="row">
                    <div class="col-sm-6" style="margin-top: 10px">Description <span class="required"> </span> :</div>
                    <div class="col-sm-6">
                      <textarea type="text" class="form-control"  rows="6" placeholder=""></textarea>

                    </div>
                  </div>

                  <div class="row">

                  </div>

                  <div class="submit text-center">
                      <input type="submit" style="margin-left: 120px" class="btn btn-primary btn-raised btn-round" value="Submit">
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


