<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/images/background.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1 class="title">The <span style="color: red">expert</span> <br> in anything was once a <br> <span style="color: red">beginner</span> </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center" >

        
      
          

      <div class="section" id="carousel">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mr-auto ml-auto">
                
                <div class="card card-raised card-carousel" style="margin-top:-100px;width:1000px; max-height:400px;margin-left: -120px">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active" style="margin-top:-120px;">
                        <img class="d-block w-100" src="./assets/img/bg2.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block" >
                         
                         

                          
                            <h3 class="card-title" ><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                            <p class="card-description">
                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                            </p>
                            <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                              <i class="material-icons">format_align_left</i> Read More
                          </a>
                        
                        </div>
                      </div>


                      <div class="carousel-item" style="margin-top:-120px;">
                        <img class="d-block w-100" src="./assets/img/bg3.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            
                          <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                            <p class="card-description">
                                You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                              </p>
                              <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                <i class="material-icons">format_align_left</i> Read More
                            </a>

                        </div>
                      </div>


                      <div class="carousel-item" style="margin-top:-120px;">
                        <img class="d-block w-100" src="./assets/img/bg.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                            <p class="card-description">
                                You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                              </p>
                              <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                <i class="material-icons">format_align_left</i> Read More
                            </a>
                        </div>
                      </div>


                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" >
                      <i class="material-icons">keyboard_arrow_left</i>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <i class="material-icons">keyboard_arrow_right</i>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      <div class="section" id="carousel1">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">

                      <div class="card card-raised card-carousel" style="margin-top:-100px;width:1000px; max-height:400px;margin-left: -120px">
                          <div id="carousel1ExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                              <ol class="carousel-indicators">
                                  <li data-target="#carousel1ExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carousel1ExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carousel1ExampleIndicators" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                  <div class="carousel-item active" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg2.jpg" alt="First slide">
                                      <div class="carousel-caption d-none d-md-block" >




                                          <h3 class="card-title" ><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>

                                      </div>
                                  </div>


                                  <div class="carousel-item" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg3.jpg" alt="Second slide">
                                      <div class="carousel-caption d-none d-md-block">

                                          <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>

                                      </div>
                                  </div>


                                  <div class="carousel-item" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg.jpg" alt="Third slide">
                                      <div class="carousel-caption d-none d-md-block">
                                          <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>
                                      </div>
                                  </div>


                              </div>
                              <a class="carousel-control-prev" href="#carousel1ExampleIndicators" role="button" data-slide="prev" >
                                  <i class="material-icons">keyboard_arrow_left</i>
                                  <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carousel1ExampleIndicators" role="button" data-slide="next">
                                  <i class="material-icons">keyboard_arrow_right</i>
                                  <span class="sr-only">Next</span>
                              </a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>


      <div class="section" id="carousel2">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">

                      <div class="card card-raised card-carousel" style="margin-top:-100px;width:1000px; max-height:400px;margin-left: -120px">
                          <div id="carousel2ExampleIndicators" class="carousel slide" data-ride="carouse2" data-interval="3000">
                              <ol class="carousel-indicators">
                                  <li data-target="#carousel2ExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carousel2ExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carousel2ExampleIndicators" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                  <div class="carousel-item active" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg2.jpg" alt="First slide">
                                      <div class="carousel-caption d-none d-md-block" >




                                          <h3 class="card-title" ><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>

                                      </div>
                                  </div>


                                  <div class="carousel-item" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg3.jpg" alt="Second slide">
                                      <div class="carousel-caption d-none d-md-block">

                                          <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>

                                      </div>
                                  </div>


                                  <div class="carousel-item" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg.jpg" alt="Third slide">
                                      <div class="carousel-caption d-none d-md-block">
                                          <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>
                                      </div>
                                  </div>


                              </div>
                              <a class="carousel-control-prev" href="#carousel2ExampleIndicators" role="button" data-slide="prev" >
                                  <i class="material-icons">keyboard_arrow_left</i>
                                  <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carousel2ExampleIndicators" role="button" data-slide="next">
                                  <i class="material-icons">keyboard_arrow_right</i>
                                  <span class="sr-only">Next</span>
                              </a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>

      <div class="section" id="carousel3">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 mr-auto ml-auto">

                      <div class="card card-raised card-carousel" style="margin-top:-100px;width:1000px; max-height:400px;margin-left: -120px">
                          <div id="carousel3ExampleIndicators" class="carousel slide" data-ride="carouse2" data-interval="3000">
                              <ol class="carousel-indicators">
                                  <li data-target="#carousel3ExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carousel3ExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carousel3ExampleIndicators" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner">
                                  <div class="carousel-item active" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg2.jpg" alt="First slide">
                                      <div class="carousel-caption d-none d-md-block" >




                                          <h3 class="card-title" ><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>

                                      </div>
                                  </div>


                                  <div class="carousel-item" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg3.jpg" alt="Second slide">
                                      <div class="carousel-caption d-none d-md-block">

                                          <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>

                                      </div>
                                  </div>


                                  <div class="carousel-item" style="margin-top:-120px;">
                                      <img class="d-block w-100" src="./assets/img/bg.jpg" alt="Third slide">
                                      <div class="carousel-caption d-none d-md-block">
                                          <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
                                          <p class="card-description">
                                              You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
                                          </p>
                                          <a href="#pablo" class="btn btn-primary btn-round"  style="background-color: orangered">
                                              <i class="material-icons">format_align_left</i> Read More
                                          </a>
                                      </div>
                                  </div>


                              </div>
                              <a class="carousel-control-prev" href="#carousel3ExampleIndicators" role="button" data-slide="prev" >
                                  <i class="material-icons">keyboard_arrow_left</i>
                                  <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carousel3ExampleIndicators" role="button" data-slide="next">
                                  <i class="material-icons">keyboard_arrow_right</i>
                                  <span class="sr-only">Next</span>
                              </a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>



  </div>
  </div>
</div>
