<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/images/background.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1 class="title">The <span style="color: red">expert</span> <br> in anything was once a <br> <span style="color: red">beginner</span> </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain card-blog">
            <div class="card-header card-header-image">
              <a href="#pablo">
                <img class="img img-raised myCardCss" src="assets/images/dialogbanner.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-raised card-background" style=" background: rgba(0,0,0,1);">
            <div class="card-body myCardCss">
              <h3 class="card-title"><span style="color: red">Business Analyst Internship</span> <br><span style="font-size: 18px; color: white">Converging Charging Stratergy</span> </h3><br>
              <p class="card-description">
                You are responsible for acting as an interface between the technical and business teams to assist with development of the business.
              </p>
              <a href="#pablo" class="btn btn-primary btn-round">
                <i class="material-icons">format_align_left</i> Read More
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-raised card-background" style="background: rgba(0,0,0,1);">
            <div class="card-body myCardCss">
              <h3 class="card-title"><span style="color: red">Developer Consultant</span> <br><span style="font-size: 18px;margin-left:-230px">.net</span> </h3><br>
              <p class="card-description">
                Engage in the development of components for large scale projects in a distributed development environment.
              </p>
              <a href="#pablo" class="btn btn-primary btn-round">
                <i class="material-icons">format_align_left</i> Read More
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-plain card-blog">
            <div class="card-header card-header-image">
              <a href="#pablo">
                <img class="img img-raised myCardCss" src="assets/images/VirtusaLogo.jpg">
              </a>
            </div>

          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-plain card-blog">
            <div class="card-header card-header-image">
              <a href="#pablo">
                <img class="img img-raised myCardCss" src="assets/images/MasBanner.png">
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-raised card-background"  style=" background: rgba(0,0,0,1);">
            <div class="card-body myCardCss">
              <h3 class="card-title"><span style="color: red">General Internship</span> <br><span style="font-size: 18px"></span> </h3><br>
              <p class="card-description">
                It's your opportunity to learn from the best. This internship provides you with hands-on working experience to explore and understand many world class business practices.
              </p>
              <a href="#pablo" class="btn btn-primary btn-round">
                <i class="material-icons">format_align_left</i> Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
