<div class="page-header header-filter" data-parallax="true" style="background-image: url('assets/images/background.jpg');height: 500px">
  <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <div class="brand text-center">
                  <h1 class="title">The <span style=" color: red">expert</span>
                  <br> in anything was once a <br>
                  <span style=" color: red">beginner</span> </h1>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="main main-raised" id="main">
  <div class="contact-content">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                  <a href="https://www.dialog.lk/">
                      <img src="../../../assets/images/dialog.jpg"  style="width: 500px; margin-left: 150px">
                  </a>
              </div>
          </div>
          <div>
              <div class="container">
                  <div class="row">
                      <div class="col-md-10 ml-auto mr-auto">
                          <br>
                          <div class="card card-plain card-blog">
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="card-header card-header-image">
                                          <a href="#pablo">
                                              <img class="img img-raised" src="../../../assets/images/companyBusiness1.jpg" style="height: 230px">
                                          </a>
                                          <div class="colored-shadow" style="background-image: url('../../../assets/images/companyBusiness1.jpg')"></div>
                                      </div>
                                  </div>
                                  <div class="col-md-8">
                                      <h3 class="card-category text-info">Name of Internship</h3>
                                      <p class="card-description">
                                          Discription of Internship
                                          <a href="#pablo"> Read More </a>
                                      </p>
                                      <p style="color: black">
                                          Duration :
                                      </p>
                                      <div class="row">
                                          <div class="col-md-8">
                                              <p class="author" style="color: black;">
                                                  Address
                                                  <br>
                                                  <br>
                                                  <br>
                                                  <br>
                                                  <br>
                                                  <br>
                                                  <br>
                                              </p>
                                          </div>
                                          <div class="col-md-4">
                                              <button routerLink="/internshipPage"class="btn btn-primary" style="background-color: orangered;margin-top: 30px; margin-left:80px">Apply </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="card-header card-header-image">
                                          <a href="#pablo" >
                                              <img class="img img-raised" src="../../../assets/images/companyBusiness2.jpg" style="height: 230px">
                                          </a>
                                          <div class="colored-shadow" style="background-image: url('../../../assets/images/companyBusinees2.jpg')"></div>
                                      </div>
                                  </div>
                                  <div class="col-md-8">
                                      <h3 class="card-category text-info">Name of Internship</h3>
                                      <p class="card-description">
                                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown p not only five centuries, but also the leap into electronic typesetting
                                          <a href="#pablo"> Read More </a>
                                      </p>
                                      <p style="color: black">
                                          Duration : 3 months
                                      </p>
                                      <div class="row">
                                          <div class="col-md-8">
                                              <p class="author" style="color: black;">
                                                  Dialog Service Point <br>
                                                  Kaduwela<br>
                                                  076 712 3468
                                              </p>
                                          </div>
                                          <div class="col-md-4">
                                              <button class="btn btn-primary" style="background-color: orangered;margin-top: 30px; margin-left:80px">Apply </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-12">
                              <ul class="pagination pagination-info" style="margin-top: 80px;margin-left: 300px">
                                  <li class="page-item">
                                      <a href="javascript:void(0);" class="page-link"> prev</a>
                                  </li>
                                  <li class="page-item active">
                                      <a href="javascript:void(0);" class="page-link">1</a>
                                  </li>
                                  <li class="page-item">
                                      <a href="javascript:void(0);" class="page-link">2</a>
                                  </li>
                                  <li class="page-item">
                                      <a href="javascript:void(0);" class="page-link">3</a>
                                  </li>
                                  <li class="page-item">
                                      <a href="javascript:void(0);" class="page-link">4</a>
                                  </li>
                                  <li class="page-item">
                                      <a href="javascript:void(0);" class="page-link">5</a>
                                  </li>
                                  <li class="page-item">
                                      <a href="javascript:void(0);" class="page-link">next </a>
                                  </li>
                              </ul>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

